
.game-conatiner{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 30px;
    justify-content: space-around;
    animation: showHistory .5s;
    z-index: 10;
}

.cards-memory-container-ease{
    display: grid;
    max-width: 500px;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
}

.cards-memory-container-medium{
    display: grid;
    max-width: 50%;
    width: 100%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
}
.cards-memory-container-hart{
    display: grid;
    max-width: 70%;
    width: 100%;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
}

.options-game{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.restart{
    align-content: flex-end;
    width: 50px;
}

@keyframes showGame {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}