.App{
    background: linear-gradient(to right, #000a23, #02152b);
    height: 100vh;
    width: 100vw;
    font-family: 'Nunito', sans-serif;
}

.memory-container{
    display: flex;
    width: 100%;
    height: 89%;
}